In [ ]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')
!pip install catboost
from sklearn.metrics import mean_absolute_percentage_error

Collecting catboost
  Downloading catboost-1.0.4-cp37-none-manylinux1_x86_64.whl (76.1 MB)
     |████████████████████████████████| 76.1 MB 46 kB/s
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.21.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (8.0.1)
Installing collected packages: catboost
Successfully installed catboost-1.0.4

In [ ]:
def mape(actual, pred): 
    actual, pred = np.array(actual), np.array(pred)
    mape_arr=(np.abs(actual - pred) / actual)*100
    return (mape_arr,np.mean( (np.abs(actual - pred) / actual) * 100))

In [ ]:
df1=pd.read_csv('stackedSouth_test.csv')
df1
df1=df1.drop(['Unnamed: 0'],axis=1)
df1
df1=df1.drop(['SKU_id'],axis=1)
df1
df1.rename(columns = {'Jul_20':'1','Aug_20':'2','Sep_20':'3','Oct_20':'4','Nov_20':'5','Dec_20':'6','Jan_21':'7','Feb_21':'8','Mar_21':'9','Apr_21':'10','May_21':'11'}, inplace = True)
df1

       1    2     3     4    5    6    7    8    9   10   11
0     28   31   328  2374   34   19   37   76   73  112   19
1     10   42    70    10   38   22   18   50   74   30   50
2     15   15    15    15   15   15   15   15   15   23   15
3     64  116  4058   954  112   32  200  206  152  190   64
4    136  352  2089   730  178  130  154  364  817  727   40
..   ...  ...   ...   ...  ...  ...  ...  ...  ...  ...  ...
281  103  591   167   455  215  135  239  295    7    7  135
282    9    9     9    21  133    9   33    9  103   49    9
283   13   13    13    13   13   13   21   13   13   13   13
284    9    9     9    17   13   11   36   21   17    9    9
285   15   15    15    15   15  225  423  327  783  375   33

[286 rows x 11 columns]

In [ ]:
df2=pd.read_csv('stackedSouth_train.csv')
df2=df2.drop(['12'],axis=1)
df2=df2.drop(['Unnamed: 0'],axis=1)
df2
df2=df2.drop(['0'],axis=1)
df2

       1    2    3    4    5    6    7    8    9   10   11
0    226   19   40   52   79   58   82   64  235   85   82
1     58   38   18   22   22   58   70   14  130   90  126
2     15   15   15   15   15   15   15   15   15   15   19
3     54   58  224  204   86  190  108   94  310  224  140
4    244  127  130  232  169  154   58  130  166  271  337
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
567    7    7    7    7    7  107  103   71   35    7    7
568   29   21   33   61   65   13   13   33    9   49   25
569   13   13   21   13   21   13   13   13   13   21   13
570   13   17   11    9   21    9    9   17   13   15   13
571   15   15   27   15   15   15   15   15   69  252  105

[572 rows x 11 columns]

In [ ]:
x_train=df2.drop(['11'],axis=1)
x_train

       1    2    3    4    5    6    7    8    9   10
0    226   19   40   52   79   58   82   64  235   85
1     58   38   18   22   22   58   70   14  130   90
2     15   15   15   15   15   15   15   15   15   15
3     54   58  224  204   86  190  108   94  310  224
4    244  127  130  232  169  154   58  130  166  271
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
567    7    7    7    7    7  107  103   71   35    7
568   29   21   33   61   65   13   13   33    9   49
569   13   13   21   13   21   13   13   13   13   21
570   13   17   11    9   21    9    9   17   13   15
571   15   15   27   15   15   15   15   15   69  252

[572 rows x 10 columns]

In [ ]:
y_train=df2.iloc[:,10]
y_train

0       82
1      126
2       19
3      140
4      337
      ...
567      7
568     25
569     13
570     13
571    105
Name: 11, Length: 572, dtype: int64

In [ ]:
x_test=df1.drop(['11'],axis=1)
x_test

       1    2     3     4    5    6    7    8    9   10
0     28   31   328  2374   34   19   37   76   73  112
1     10   42    70    10   38   22   18   50   74   30
2     15   15    15    15   15   15   15   15   15   23
3     64  116  4058   954  112   32  200  206  152  190
4    136  352  2089   730  178  130  154  364  817  727
..   ...  ...   ...   ...  ...  ...  ...  ...  ...  ...
281  103  591   167   455  215  135  239  295    7    7
282    9    9     9    21  133    9   33    9  103   49
283   13   13    13    13   13   13   21   13   13   13
284    9    9     9    17   13   11   36   21   17    9
285   15   15    15    15   15  225  423  327  783  375

[286 rows x 10 columns]

In [ ]:
y_test=df1.iloc[:,10]
y_test.iloc[2]

15

In [ ]:
from catboost import CatBoostRegressor
model=CatBoostRegressor(iterations=18, depth=3, learning_rate=0.1, loss_function='MAPE')
model.fit(x_train, y_train,eval_set=(x_test, y_test),plot=True)

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

0:	learn: 0.8226579	test: 0.8111079	best: 0.8111079 (0)	total: 47.4ms	remaining: 806ms
1:	learn: 0.7966919	test: 0.7985107	best: 0.7985107 (1)	total: 49.1ms	remaining: 393ms
2:	learn: 0.7719738	test: 0.7842387	best: 0.7842387 (2)	total: 50.3ms	remaining: 252ms
3:	learn: 0.7536190	test: 0.8007614	best: 0.7842387 (2)	total: 51.1ms	remaining: 179ms
4:	learn: 0.7412860	test: 0.8112285	best: 0.7842387 (2)	total: 51.9ms	remaining: 135ms
5:	learn: 0.7260776	test: 0.8063755	best: 0.7842387 (2)	total: 52.8ms	remaining: 106ms
6:	learn: 0.7154053	test: 0.7942292	best: 0.7842387 (2)	total: 53.7ms	remaining: 84.4ms
7:	learn: 0.7034370	test: 0.7871215	best: 0.7842387 (2)	total: 55.1ms	remaining: 68.9ms
8:	learn: 0.6893294	test: 0.7983417	best: 0.7842387 (2)	total: 57.1ms	remaining: 57.1ms
9:	learn: 0.6795106	test: 0.8598252	best: 0.7842387 (2)	total: 59.1ms	remaining: 47.2ms
10:	learn: 0.6737566	test: 0.8589881	best: 0.7842387 (2)	total: 61.2ms	remaining: 39ms
11:	learn: 0.6625806	test: 0.8934022	best: 0.7842387 (2)	total: 63.5ms	remaining: 31.7ms
12:	learn: 0.6486956	test: 0.8897185	best: 0.7842387 (2)	total: 65.6ms	remaining: 25.2ms
13:	learn: 0.6422614	test: 0.9480824	best: 0.7842387 (2)	total: 67.7ms	remaining: 19.3ms
14:	learn: 0.6330035	test: 0.9461082	best: 0.7842387 (2)	total: 69.7ms	remaining: 13.9ms
15:	learn: 0.6268168	test: 0.9447303	best: 0.7842387 (2)	total: 71.7ms	remaining: 8.96ms
16:	learn: 0.6237469	test: 0.9441493	best: 0.7842387 (2)	total: 73.8ms	remaining: 4.34ms
17:	learn: 0.6176442	test: 0.9429819	best: 0.7842387 (2)	total: 76ms	remaining: 0us

bestTest = 0.7842386913
bestIteration = 2

Shrink model to first 3 iterations.

In [ ]:
k=model.predict(x_test)
t=np.floor(k)
t

array([ 5.,  4.,  5.,  5.,  4.,  4.,  4.,  4.,  5.,  5.,  5.,  4.,  4.,
        4.,  4.,  5.,  5.,  5.,  5.,  5.,  5.,  5.,  5.,  5.,  4.,  5.,
        5.,  4.,  5.,  4.,  5.,  5.,  5.,  5.,  4.,  5.,  5.,  5.,  4.,
        4.,  4.,  5.,  5.,  5.,  5.,  5.,  4.,  5.,  4.,  5.,  4.,  5.,
        5.,  5.,  4.,  5.,  5.,  5.,  3.,  5.,  4.,  4.,  5.,  5.,  5.,
        5.,  5.,  5.,  4.,  5.,  5.,  5.,  5.,  5.,  5.,  5.,  4.,  5.,
        5.,  5.,  5.,  4.,  5.,  4.,  4.,  5.,  5.,  5.,  5.,  5.,  3.,
        4.,  5.,  5.,  5.,  5.,  5.,  5.,  5.,  5.,  5.,  5.,  4.,  3.,
        4.,  5.,  4.,  5.,  5.,  5.,  4.,  5.,  4.,  4., 13.,  4.,  5.,
        5.,  5.,  4.,  4.,  4.,  4.,  5.,  4.,  4.,  5.,  4.,  5.,  4.,
        4.,  5.,  5.,  4.,  4.,  5.,  5.,  5.,  5.,  5.,  5.,  5.,  5.,
        5.,  5.,  5.,  5.,  5.,  4.,  5.,  4.,  4.,  5.,  5.,  4.,  5.,
        5.,  5.,  4.,  5.,  5.,  5.,  5.,  5.,  4.,  5.,  5.,  5.,  5.,
        5.,  4.,  5.,  5.,  4.,  4.,  5.,  5.,  4.,  5.,  4.,  4.,  4.,
        4.,  4.,  4., 14.,  4.,  4.,  4.,  4.,  5.,  5.,  5.,  5.,  5.,
        5.,  5.,  5.,  5.,  5.,  5.,  5.,  5.,  4.,  4.,  4.,  5.,  5.,
        5.,  5.,  5.,  5.,  5.,  4.,  5.,  4.,  5.,  5.,  5.,  5.,  4.,
        5.,  4.,  4.,  5.,  5.,  4.,  4.,  5.,  4.,  5.,  3.,  5.,  5.,
        4.,  5.,  5.,  5.,  5.,  5.,  5.,  5.,  5.,  4.,  4.,  4.,  5.,
        5.,  4.,  4.,  5.,  3.,  4.,  5.,  4.,  5.,  5.,  5.,  4.,  4.,
        4.,  5.,  4.,  5.,  5.,  4.,  5.,  5.,  5.,  5.,  5.,  5.,  5.,
        4.,  5.,  4.,  5.,  5.,  4.,  4.,  5.,  4.,  5.,  5.,  5.,  5.])

In [ ]:
a,b=mape(y_test,t)
b

79.37864649056002

In [ ]:
mapef=0
c=0
bad_examples_north=[]

In [ ]:
for i in range(len(y_test)):
  if np.abs((y_test.iloc[i]-t[i])/(y_test.iloc[i]))<0.9:
    mapef=mapef+np.abs((y_test.iloc[i]-t[i])/(y_test.iloc[i]))
    c=c+1
  else:
    bad_examples_north.append(i)  
mape_final=mapef/c  
print(mape_final)

0.644725590957892

In [ ]:
len(bad_examples_north)

93